html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.row
      div.col-md-10.col-md-offset-1
        h1= message
        div.row
          for entry in entries
            div.col-md-3
              div.thumbnail
                a(href="/series/" + entry.id)
                  img(src=entry.thumbnail)
                div.caption
                  a(href="/series/" + entry.id)
                    h5 #{entry.title}
                  p #{entry.count} videos
