extends ./layout.pug

block content
  div.container-fluid
    div.row.Header
      div.col-sm-6.col-sm-offset-3.Header-content
        h1 Learn Node.js
        p Learn node.js quickly with these free JavaScript courses. Our video tutorials cover Node.js, JavaScript and Web Performance!

        a.btn.btn-info(href="/videos")
          i.fa.fa-video-camera(aria-hidden="true")
          span  See all videos
        a.btn.btn-success.Course(href="/courses")
          i.fa.fa-th-list(aria-hidden="true")
          span  Start a course
    div.row
      div.col-lg-10.col-lg-offset-1.col-md-12.top-Margin
        div.fancy-subtitle
          span Check out our
        h1.fancy-title Featured Series
        div.row
          for entry in playlists
            div.col-md-3.col-xs-12
              div.thumbnail
                a(href="/playlist/" + entry.id)
                  img(src=entry.thumbnail)
                div.caption
                  a(href="/playlist/" + entry.id)
                    h4 #{entry.title}
                  p.description #{entry.description}
                  span.badge #{entry.count} videos

    div.row
      div.col-md-12.col-lg-10.col-lg-offset-1.top-Margin
        div.fancy-subtitle
          span Check out our
        h1.fancy-title Featured Videos
        div.row
          for video in videos
            div.col-md-2.col-sm-6.col-xs-15
              div.thumbnail
                a(href="/video/" + video.id)
                  img(src=video.thumbnail)
                div.caption
                  a(href="/video/" + video.id)
                    h5 #{video.title}

    div.row
      div.col-md-12.col-lg-10.col-lg-offset-1.top-Margin
        div.fancy-subtitle
          span Nice things
        h1.fancy-title People Are Saying
        div.row
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr">Just stumbled upon <a href="https://t.co/W0PL4cWhH3">https://t.co/W0PL4cWhH3</a> by <a href="https://twitter.com/jkup">@jkup</a> Good resource to learn Node.</p>&mdash; Catalin Rosu (@catalinred) <a href="https://twitter.com/catalinred/status/730145936635265025">May 10, 2016</a></blockquote>
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr">Mad props to my buddy <a href="https://twitter.com/jkup">@jkup</a> on <a href="https://t.co/uwF895IXeP">https://t.co/uwF895IXeP</a> 👍 And congrats on making on the top spot on Node Weekly! <a href="https://t.co/yiZBGwoxPl">pic.twitter.com/yiZBGwoxPl</a></p>&mdash; Kent C. Dodds (@kentcdodds) <a href="https://twitter.com/kentcdodds/status/730790453184880640">May 12, 2016</a></blockquote>
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr"><a href="https://t.co/j4DMYm9Ben">https://t.co/j4DMYm9Ben</a> cool stuffs there <a href="https://twitter.com/hashtag/nodejs?src=hash">#nodejs</a> <a href="https://twitter.com/hashtag/javascript?src=hash">#javascript</a></p>&mdash; Khang Hoang (@khanght) <a href="https://twitter.com/khanght/status/732061336402726913">May 16, 2016</a></blockquote>
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr"><a href="https://twitter.com/nodecastsio">@nodecastsio</a> by <a href="https://twitter.com/jkup">@jkup</a> is amazing JavaScript and Node related courses. I can’t believe it’s totally for free!<a href="https://t.co/K3UB99q2i9">https://t.co/K3UB99q2i9</a></p>&mdash; Paweł Grzybek (@pawelgrzybek) <a href="https://twitter.com/pawelgrzybek/status/735894745566859264">May 26, 2016</a></blockquote>
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="tl" dir="ltr">Great NodeJS tutorials - <a href="https://t.co/qfopV67HFT">https://t.co/qfopV67HFT</a></p>&mdash; Alex Orlovsky (@OrlovskyAlex) <a href="https://twitter.com/OrlovskyAlex/status/731810792044150784">May 15, 2016</a></blockquote>
          div.col-md-6
            | <blockquote class="twitter-tweet" data-lang="en" data-cards="hidden"><p lang="en" dir="ltr">I just found <a href="https://twitter.com/nodecastsio">@nodecastsio</a> <a href="https://t.co/Hplu66pXWk">https://t.co/Hplu66pXWk</a> which was inspired by <a href="https://twitter.com/laracasts">@laracasts</a> but for <a href="https://twitter.com/hashtag/nodejs?src=hash">#nodejs</a> <a href="https://twitter.com/hashtag/javascript?src=hash">#javascript</a> <a href="https://twitter.com/hashtag/elearning?src=hash">#elearning</a></p>&mdash; Zaher Ghaibeh (@zaherg) <a href="https://twitter.com/zaherg/status/730854174485794817">May 12, 2016</a></blockquote>
    div.row.About
      div.col-md-6.col-md-offset-3
        h2 What is this place?
        p Inspired by Laracasts, this site aims to be a free resource for all things Node.
        p My name is
          a(href="https://jonkuperman.com") Jon Kuperman

          span . I've been working for years as a JavaScript developer and web performance advocate. I run the
            a(href="https://codeplanet.io") Code Planet

            span  blog and a podcast called

              a(href="https://webbehind.com") The Web Behind

              span .

        p This will be a website I devote to high quality screencasts. I'll be adding new episodes weekly with content about Node.js, JavaScript, Web Performance and Developer tools.

    div.row.Email
      div.col-md-8.col-md-offset-2
        include includes/mailchimp.html
