extends ./layout.pug

block content
  div.container-fluid
    div.row.Header
      div.col-sm-6.col-sm-offset-3.Header-content
        h1 Learn Node.js
        p Learn node.js quickly with these free JavaScript courses. Our video tutorials cover Node.js, JavaScript and Web Performance!

        a.btn.btn-info(href="/videos")
          i.fa.fa-video-camera(aria-hidden="true")
          span  See all videos
        a.btn.btn-success.Course(href="/courses")
          i.fa.fa-th-list(aria-hidden="true")
          span  Start a course
    div.row
      div.col-lg-10.col-lg-offset-1.col-md-12
        div.fancy-subtitle
          span Check out our
        h1.fancy-title Featured Series
        div.row
          for entry in playlists
            div.col-md-3.col-xs-12
              div.thumbnail
                a(href="/playlist/" + entry.id)
                  img(src=entry.thumbnail)
                div.caption
                  a(href="/playlist/" + entry.id)
                    h4 #{entry.title}
                  p.description #{entry.description}
                  span.badge #{entry.count} videos

    div.row
      div.col-md-12.col-lg-10.col-lg-offset-1
        div.fancy-subtitle
          span Check out our
        h1.fancy-title Featured Videos
        div.row
          for video in videos
            div.col-md-2.col-sm-6.col-xs-15
              div.thumbnail
                a(href="/video/" + video.id)
                  img(src=video.thumbnail)
                div.caption
                  a(href="/video/" + video.id)
                    h5 #{video.title}

    div.row.About
      div.col-md-6.col-md-offset-3
        h2 What is this place?
        p Inspired by Laracasts, this site aims to be a free resource for all things Node.
        p My name is 
          a(href="https://jonkuperman.com") Jon Kuperman

          span . I've been working for years as a JavaScript developer and web performance advocate. I run the 
            a(href="https://codeplanet.io") Code Planet

            span  blog and a podcast called  

              a(href="https://webbehind.com") The Web Behind

              span .

        p This will be a website I devote to high quality screencasts. I'll be adding new episodes weekly with content about Node.js, JavaScript, Web Performance and Developer tools.

    div.row.Email
      div.col-md-8.col-md-offset-2
        include includes/mailchimp.html
