extends ./layout.pug

block content
  include ./includes/navbar.pug
  div.row.SubHeader
    div.col-md-10.col-md-offset-1
      h1= message
      p.Description= description

  div.container-fluid
    div.row
      div.col-md-10.col-md-offset-1.Video

        div#Player!= player

        div.list-group.Playlist
          for video in videos
            a.list-group-item.Playlist-Video(data-id=video.id, href="/video/" + video.id) #{video.title}
              span.badge= video.duration
